// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.button {
  background-color: #69bdd2;
  color: white;
  box-shadow: 1px 1px 2px black;
  border-style: solid;
  padding: 5px 5px;
 }

 h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
 }

 h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
 }

 h4 {
  font-family: Arial, Helvetica, sans-serif;
 }